body {
	margin: auto;
	background-color: #DDD;
}

#container {
	margin: 0 10em;
}

#header {}

#nav {
	float: left;
}

#content {
	overflow: auto;
}
#content > img {
	float: right;
	width: 30em;
	clear: right;
}

#footer {
	background-color: #333;
	color: #FFF;
	text-align: center;
	padding: 1em;
	bottom: 0;
}

.title {
	text-align: center;
}
