* {
	padding: 0em;
	margin: 0em;
	font-family: 'Raleway',Tahoma, Helvetica, sans-serif;
	line-height: 1.5em;
}

a {
	color: #5c2d04;
}

a:visited {
	color: #3d8c0d;
}

body {
	background-color: #F2F3EB;
	background: url(../images/texture4.png);
	position:relative;
	min-width: 100%;
}

#containerHeader {
	width: 100%;
	position: fixed;
}

#header {
	position: sticky;
	z-index: 100;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #362D23;
	text-transform: uppercase;
	font-family: sans-serif;
	overflow: hidden;
	padding: 0.5em 1em 0.5em;
}

#title {
	display: flex;
	align-items: center;
	flex-grow: 1;
	padding: 0 0.5em;
}
#title a{
	text-decoration: none;
}
#title h1 {
	font-family: 'Luckiest Guy';
	padding-top: 0.3em;
	font-size: 2.3em;
	color: #CFB682;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#title h1:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#navbar {
	display: flex;
	position: relative;
}

#navbar a {
	font-size: 1.2em;
	padding: 1em 0em 1em 0em;
	margin: 0px 0.6em;
	text-decoration: none;
	color: #CFB682;
	display: block;
	font-family: 'Raleway';
	font-weight: bold;
	position:relative;
}

#navbar a:after {
	content: '';
	position: absolute;
	width: 0;
	height: 3px;
	display: block;
	margin-top: 5px;
	right: 0;
	background: #497337;
	transition: width .3s ease;
	-webkit-transition: width .3s ease;
}

#navbar a:hover:after {
	width: 100%;
	left: 0;
	background: #497337;
}

#navbar #closeBtn, #menuBtn {
	font-size: 2em;
	text-decoration: none;
	display: none;
}

#title #menuBtn {
	margin-left: auto;
	text-decoration: none;
	color: #CFB682;
}

#navbar #current{
	/*background: #497337;*/
	float:left;
	height: 14px;
	border-bottom: 3px solid #497337;
}

#breadcrumb {
	display: flex;
	padding: 0.5em 2em;
	background-color: #CFB682;
	color: #362D23;
}

#content {
	padding: 3em;
	margin: 0 12em;
	box-shadow: 0 0 1em #777;
	background-color: #F2F3EB;
	padding-bottom:25em;
}

#content h1, #content h2, #content h3 {
	font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
	text-align: center;
	color: #474544;
}

/*#content>img {
	width: 100%;
	margin: 1em 0;
}*/

#topBtn{
	z-index: 99;
	display: none;
	position: fixed;
	font-size: 22px;
	bottom:60px;
	right: 40px;
	width:50px;
	height:50px;
	border-radius: 50%;
	border:none;
	color:white;
	background-color: #c97814;
	cursor: pointer;
}

#topBtn:hover{
	background-color: #a86511;
}

#footer {
	padding: 1em 0 1em 0;
	bottom: 0;
	background-color: #362D23;
	position: absolute;
	width: 100%;
}

#footer p {
	text-align: center;
	font-size: 0.9em;
	color: #CFB682;
	font-family: 'Raleway';
}

#socialContainer {
	position: relative;
	display: flex;
	justify-content: center;
}

.socialButton {
	width: 3em;
	overflow: hidden;
	position: relative;
	margin: 1em 0.5em;
	border-radius: 50%;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	color: white;
	/*background-color: white;*/
}

.socialButton::after {	/* cerchio responsive */
	content: "";
	display: block;
	padding-bottom: 100%;
}

.socialButton:hover {
	transform: scale(1.15);
	-webkit-transform: scale(1.15);
}

.socialButton .fa {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 50%;
	color: white;
	text-decoration: none;
}

.fa-facebook	{ background-color: #3B5998; }
.fa-google		{ background-color: #DD4B39; }
.fa-twitter		{ background-color: #55ACEE; }
.fa-linkedin	{ background-color: #007BB5; }
.fa-instagram	{ background-color: #125688; }
.fa-pinterest	{ background-color: #CB2027; }

@media screen and (max-width: 1200px) {
	#imgBar img{
		margin-left: 1.5em;
		margin-right: 1.5em;
	}

	#content {
		margin: 0;
		padding: 2em;
	}
}

@media screen and (max-width: 960px) {
	#navbar {
		padding: 1em;
		margin: 0;
	}

	#content {
		margin: 0;
		padding: 1em;
	}

	#footer {
		padding: 1em;
	}
}

@media screen and (max-width: 640px) {
	#navbar.menu {
		flex-direction: column;
		flex-wrap: nowrap;
		position: fixed;
		z-index: 1000;
		height: 100%;
		width: 12em;
		margin: 0;
		top: 0;
		bottom: 0;
		right: -20em;
		border: none;
		border-radius: initial;
		background-color: #362D23;
		transition: right 0.3s ease-out;
	}

	#navbar.menu :first-child, #navbar.menu :last-child {
		margin-bottom: auto;
	}

	#navbar.menu a {
		display: block;
		text-align: center;
	}

	#navbar.menu #closeBtn, #menuBtn {
		display: block;
	}

	#navbar.menuOpen {
		right: 0;
	}

	#breadcrumb {
		display: none;
	}
}


/*--------------*/
/*---HOMEPAGE---*/
/*--------------*/

#backgroundContent {
	height: 48em;
	background-image: url(../images/indexBackground.jpg);
	background-size: cover;
	overflow-x: hidden;
}

#imgBar{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 4em;
}

.barItem{
	padding-bottom:3em;
	padding: 1em;
}

#imgBar h1{
	text-align: center;
}

#imgBar h3{
	display: block;
	font-family: 'Raleway';
	padding-bottom: 0.5em;
}

#imgBar p {
	text-align: center;
	font-weight: bolder;
}

#imgBar img {
	margin: 0 1em;
	max-width: 14em;
	/* max-width: 100%; sembra funzionare */
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	flex: auto;
}

#imgBar img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

#homeAnimals{
	margin-top: 10em;
}

#homeAnimals p{
	margin-top: 2em;
	text-align: center;
}

#homeAnimals input[type='submit']{
	border-radius: 1em;
	padding: 0.5em 0.5em 0.5em 0.5em;
	background-color: #2f6115;
	color: white;
	display: block;
	margin:0 auto;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

#homeAnimals input[type='submit']:hover{
	box-shadow: 0 0 0.3em #777;
}

#homeAnimals fieldset{
	border: 0;
}


#socialBar .social {
	width:45px;
	height: 45px;
	display: block;
}

@media screen and (max-width: 1400px){

	#backgroundContent{
		height:35em;
		margin-right: 0;
	}
}

@media screen and (max-width: 1200px){

	#backgroundContent{
		height:30em;
		margin-right: 0;
	}
}

@media screen and (max-width: 640px){

	#backgroundContent{
		height:21em;
		margin-right: 0;
	}

	#imgBar img{
		width: 10em;
		height: auto;
	}
}

/*---------------*/
/* HOMEPAGE -> MAP */
/*---------------*/

#mapImage img{
	border: solid 2px #474544;
	width:80%;
	height: auto;
	display: block;
	margin: 3em auto 3em auto;
}

#linkMap{
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

/*-----------------------------*/
/*---HOMEPAGE->INFORMAZIONI---*/
/*---------------------------*/


#informationList p{

}

#informationList ul{
	margin-bottom: 2em;
}

#informationList li{
	list-style-type: square;
}


/*---------------*/
/* STORIA */
/*---------------*/

/*#content p{
	margin: 0 3em 0 3em;
}*/


/*---------------*/
/* CONTATTI */
/*---------------*/

#contactText{
	text-align: center;
	font-size:1.1em;
}

#contactNumbers{
	display: block;
	padding: 0em 1.4em 0.5em 1.4em;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 3em;
}

button {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, input, select, textarea {
	color: #5A5A5A;
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

textarea {
	overflow: auto;
}

#container {
	box-shadow: 0 0 0.5em #777;
	border: solid 3px #474544;
	max-width: 768px;
	margin: 60px auto;
	position: relative;
	font-family: 'Raleway';
	overflow: hidden;
}

form {
	padding: 37.5px;
	margin: 50px 0;
}

#container h2 {
	color: #474544;
	font-size: 2.4em;
	letter-spacing: 0.3em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Luckiest Guy';
}

.underline {
	border-bottom: solid 2px #474544;
	margin: -0.512em auto;
	width: 80px;
}

.icon_wrapper {
	margin: 50px auto 0;
}

.icon {
	display: block;
	height: 80px;
	margin: 0 auto;
	width: 80px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
	border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
	/*text-transform: uppercase;*/
	width: 100%;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
	background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
	outline: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	color: #474544;
	background-color: #F2F3EB;
}

select:focus{
	outline:none;
}

.subject {
	width: 100%;
	color: #474544;
}

.telephone {
	width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
	width: 100%;
	font-family: 'Raleway';
}

#form_button {
	background: none;
	border: solid 2px #474544;
	color: #474544;
	cursor: pointer;
	display: inline-block;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 0.875em;
	font-weight: bold;
	outline: none;
	padding: 20px 35px;
	transition: all 0.3s;
}

#form_button:hover {
	background: #474544;
	color: #F2F3EB;
}

	.underline {
	width: 68px;
	}

	#form_button {
	padding: 15px 25px;
	}

/*--------------*/
/*---COME RAGGIUNGERCI---*/
/*--------------*/

#googleMaps h1{
  font-family: 'Luckiest Guy';
  text-align: center;
  margin-top: 0;
	margin-bottom: 1em;
	font-size: 2em;
	color: #474544;
}

#googleMaps p{
	text-align: center;
	margin-top:2em;
	font-size: 1.25em;
	font-size:
}

.mapouter{
	position:relative;
	text-align:right;
	height:300px;
	width:1000px;
	border: 3px solid #d6d0c5;
	display: block;
	margin: 0 auto;
}
.gmap_canvas{
	overflow:hidden;
	background:none!important;
	height:300px;
	width:1000px;
}

@media screen and (max-width: 1400px) {
	.mapouter{
		width:800px;
	}

	.gmap_canvas{
		width:800px;
	}
}

@media screen and (max-width: 1200px) {
	.mapouter{
		width:700px;
	}

	.gmap_canvas{
		width:700px;
	}
}

/*--------------*/
/*---ANIMALI---*/
/*--------------*/

#content h2 {
	text-align: center;
	margin: 1em;
}

#animalsContainer {
	display: flex;
	flex-wrap: wrap;
}

#animalsContainer img {
	border-radius: 0.2em;
}

.animalsImg {
	box-sizing: border-box;
	padding: 1em;
	flex: 25%;
}

.animalsImg p {
	padding: 1em 0em;
	font-size: 1.3em;
	text-align: center;
}

.animalsImg img {
	display:block;
	margin: auto;
	width: 15em;
	height: 11em;
}

.descriptionImage{
	max-width: 30em;
	display: block;
	margin: 0 auto;
	margin-bottom: 3em;
	border-radius: 0.3em;
}

.description{
	line-height: 1.75em;
	text-align: center;
}

/*--------------*/
/*---ATTIVITA'---*/
/*--------------*/

.activitySection {
	margin-top: 1em;
	clear: both;
}

.activitySection img{
	height:20em;
}

.activitySection:nth-child(odd){
	margin-left: 3em;
	margin-right: 3em;
}

.activitySection:nth-child(even){
	margin-right: 3em;
	margin-left: 3em;

}

.activitySection:nth-child(odd) img {
	float: left;
	margin-bottom: 3em;
	margin-right:3em;

}

.activitySection:nth-child(even) img {
	float: right;
	margin-bottom: 3em;
	margin-left:3em;

}


@media screen and (max-width: 960px) {
	.activitySection img {
		height: 14em;
	}
}

@media screen and (max-width: 640px) {
	.activitySection img {
		width: 100%;
		height: auto;
		margin: 0;
	}
}

/*--------------*/
/*-REGISTRAZIONE-*/
/*--------------*/

#signinForm{
	/*display: inline-block;
	float: center;*/
}

#signinForm legend{
	font-style: italic;
	font-weight: bolder;
	font-size: 1.2em;
	padding: 0 0.5em;
}

#signinForm fieldset{
	border-radius: 1em;
	padding: 1em;
	border: 1px solid #D9D7D7;
}

#signinForm input{
	border-radius: 0.4em;
	padding: 0.4em;
	border: 2px solid #b8b3b2;
}

#signinForm label{
	width: 20%;
	display: inline-block;
}

#signinForm input[type=text], input[type=email], input[type=password], input[type=date]{
	margin-bottom: 1em;
	width:15em;
}

#signinForm input[type=text]:hover{
	border-color: grey;
}

#signinForm input[type=email]:hover{
	border-color: grey;
}

#signinForm input[type=password]:hover{
	border-color: grey;
}

#signinForminput[type=date]:hover{
	border-color: grey;
}

#signinForm input::placeholder{
	color: grey;
}

#signinForm input[type=submit] {
	margin-right: 5em;
	margin-bottom: 1em;
	float: right;
	font-size:1em;
	width:6em;
}

#signinForm input[type=submit]:hover{
	background-color: #B5B5B5;
	border-color: grey;
}

#signinForm .error{
	color: firebrick;
	float:right;
}

#loginForm legend{
	font-style: italic;
	font-weight: bolder;
	font-size: 1.2em;
	padding: 0 0.5em;
}

#loginForm fieldset{
	border-radius: 1em;
	padding: 1em;
	border: 1px solid #D9D7D7;
}

#loginForm label{
	width: 20%;
	display: inline-block;
}

#loginForm input{
	border-radius: 0.4em;
	padding: 0.4em;
	border: 2px solid #b8b3b2;
	text-align: left;
	width: 15em;
}

#loginForm input[type=text]{
	margin-bottom: 1em;
}

#loginForm input[type=password]{
	margin-bottom: 1em;
}

#loginForm input[type=text]:hover{
	border-color: grey;
}

#loginForm input[type=password]:hover{
	border-color: grey;
}

#loginForm input::placeholder{
	color: grey;
}

#loginForm input[type=submit] {
	margin-right: 5em;
	float: right;
	font-size: 1em;
	width: 6em;
	text-align: center;
}

#loginForm input[type=submit]:hover{
	background-color: #B5B5B5;
	border-color: grey;
}
