* {
	padding: 0em;
	margin: 0em;
	font-family: 'Raleway',Tahoma, Helvetica, sans-serif;
	line-height: 1.5em;
}

a{
	color: #4d4122;
	/*text-decoration: none;*/
}

a:visited{
	color: #466e2e;
}

body {
	background-image: url("../images/texture4.png");
}

#header {
	padding: 1em;
	background-color: #E6DAC0;
	background-image: url("../images/texture.png");
	position: relative;
	z-index: 1;
	box-shadow: 0 0 1em #777;
}

#title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1em;
}

#title h1 {	
	margin: auto;
	text-align: center;
	font-size: 4em;
	font-family: 'Fredoka One';
	font-weight: lighter;
}

#title .logo {
	height: 6em;
	align-self: flex-start;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
#title .logo:hover {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

#menuBtn, #closeBtn {
	float: right;
	font-size: 2em;
	text-decoration: none;
}

#navbar {
	display: flex;
	align-content: flex-start;
	margin: 0 12em;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: #4a3c29;
	border: 1px solid #A08A68;
}

#navbar ul {
	list-style-type: none;
	font-size: 0;	/* toglie gli spazi tra gli elementi della lista */
 }

#navbar li {
	display: inline-block;
	font-size: initial;
}

#navbar a {
	display: block;
	padding: 1em;
	color: #E6DAC0;
	text-align: center;
	text-decoration: none;
}

#navbar a:hover {
	background-color: #A08A68 !important;
	color: #2D3629;
	transition:0.3s;
}

#navbar #current {
	background-color: #E3D8BC;
	color: #466E2E;
}

#breadcrumb {
	display: flex;
	padding: 0.5em 2em;
	background-color: #D4C7A5;
	color: #4D4122;
}

#content {
	padding: 3em;
	margin: 0 12em;
	overflow: auto;
	background-color: white;
	box-shadow: 0 0 1em #777;
}

#content>img {
	width: 100%;
	margin: 1em 0;
}

#footer {
	padding: 2em;
	bottom: 0;
	background-color: #E6DAC0;
	background-image: url("../images/texture.png");
	box-shadow: 0 0 1em #777;
}

#footer p {
	text-align: center;
	font-size: 1em;
	font-style: italic;
}

#social {
	position: relative;
	display: flex;
	justify-content: center;
}

.socialButton {
	width: 3em;
	overflow: hidden;
	position: relative;
	margin: 1em 0.5em;
	border-radius: 50%;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	color: white;
	background-color: white;
}

.socialButton::after {	/* cerchio responsive */
	content: "";
	display: block;
	padding-bottom: 100%;
}

.socialButton:hover {
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);
}

.socialButton .fa {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	color: white;
	text-decoration: none;
	color: white;
	box-sizing: content-box;
	transform: translate(-50%, -50%);
}

.fa-facebook {
	background-color: #3B5998;
}

.fa-google {
	background-color: #dd4b39;
}

.fa-twitter {
	background-color: #55ACEE;
}

.fa-linkedin {
	background-color: #007bb5;
}

.fa-instagram {
	background: #125688;
}

.fa-pinterest {
	background: #cb2027;
}

@media screen and (max-width: 1200px) {
	#navbar {
		margin: 0 4em;
	}

	#content {
		margin: 0 6em;
		padding: 2em;
	}
}

@media screen and (max-width: 960px) {
	#header {
		padding: 1em;
	}

	#navbar {
		margin: 0;
	}

	#content {
		margin: 0;
		padding: 1em;
	}

	#footer {
		padding: 1em;
	}
}

@media screen and (max-width: 640px) {
	#title h1 {
		font-size: 2em;
	}

	#title .logo {
		height: 3em;
	}

	.menu {
		flex-direction: column;
		position: fixed;
		z-index: 1000;
		height: 100%;
		width: 20em;
		top: 0;
		bottom: 0;
		right: -20em;
		transition: right 0.3s ease-out;
		justify-content: center;
	}

	#navbar :first-child, #navbar :last-child {
		margin-bottom: auto;
	}

	#navbar.menu {
		border-radius: initial;
		border: none;
	}

	#navbar.menu li {
		display: block;
	}

	.menuOpen {
		right: 0;
	}

	#breadcrumb {
		display: none;
	}
}

@media screen and (min-width: 640px) {
	#navbar :last-child {
		margin-left: auto;
	}

	#header .menuControl {
		display: none;
	}
}


/*--------------*/
/*---HOMEPAGE---*/
/*--------------*/

.prima {
	width: 100%;
	margin: auto;
}

#imgBar {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-top: 2em;
}

#imgBar p {
	text-align: center;
	font-weight: bolder;
}

#imgBar img {
	vertical-align: middle;
	max-width: 14em;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
#imgBar img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}

.imgB:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.map {
	width: 1000px;
	height: 750px;
}

#socialBar .social {
	width:45px;
	height: 45px;
	display: block;
}

/*---------------*/
/* CONTATTI */
/*---------------*/

#address {
	display: block;
	line-height: 2.5em;
	min-width: 8em;
	overflow: auto;
	float: right;
}

.googleMaps {
	float: left;
	max-width: 40em;
}

#contactForm {
	display: inline-block;
	float: right;
}

#contactForm legend {
	font-style: italic;
	font-weight: bolder;
	font-size: 1.2em;
	padding: 0 0.5em;
}

#contactForm fieldset {
	border-radius: 1em;
	padding: 1em;
	border: 1px solid #D9D7D7;
}

#contactForm input {
	border-radius: 0.4em;
	padding: 0.4em;
	border: 2px solid #b8b3b2;
}

#contactForm input[type=text], input[type=email] {
	margin-bottom: 1em;
}

#contactForm input[type=text]:hover {
	border-color: grey;
}

#contactForm input::placeholder {
	color: grey;
}

#contactForm input[type=submit] {
	float: right;
}

#contactForm input[type=submit]:hover {
	background-color: #B5B5B5;
	border-color: grey;
}

/*--------------*/
/*---MAPPA---*/
/*--------------*/

#mapcontent {
	padding-top: 1.5em;
	padding-bottom: 1em;
	font-size: 20px;
	text-align: center;
	font-style: italic;
	background-color: #d2ba94;
}


/*--------------*/
/*---ANIMALI---*/
/*--------------*/

#content h2 {
	text-align: center;
	margin: 1em;
}

#animalsContainer {
	display: flex;
	flex-wrap: wrap;
}

#animalsContainer img {
	border-radius: 0.2em;
}

.animalsImg {
	box-sizing: border-box;
	padding: 1em;
	flex: 25%;
}

.animalsImg p {
	padding: 1em 0em;
	font-size: 1.3em;
	text-align: center;
}

.animalsImg img {
	display:block;
	margin: auto;
	width: 15em;
	height: 11em;
}

.descriptionImage {
	max-width: 30em;
	display:block;
	margin: 2em auto;
	border-radius: 0.5em;
}

.description {
	line-height: 1.4em;
}

/*--------------*/
/*---ATTIVITA'---*/
/*--------------*/

.activityImage img{
	height:20em;
}

/*--------------*/
/*-REGISTRAZIONE-*/
/*--------------*/

#signinForm{
	/*display: inline-block;
	float: center;*/
}

#signinForm legend{
	font-style: italic;
	font-weight: bolder;
	font-size: 1.2em;
	padding: 0 0.5em;
}

#signinForm fieldset{
	border-radius: 1em;
	padding: 1em;
	border: 1px solid #D9D7D7;
}

#signinForm input{
	border-radius: 0.4em;
	padding: 0.4em;
	border: 2px solid #b8b3b2;
}

#signinForm label{
	width: 20%;
	display: inline-block;
}

#signinForm input[type=text], input[type=email], input[type=password], input[type=date]{
	margin-bottom: 1em;
}

#signinForm input[type=text]:hover{
	border-color: grey;
}

#signinForm input[type=email]:hover{
	border-color: grey;
}

#signinForm input[type=password]:hover{
	border-color: grey;
}

#signinForm  input[type=date]:hover{
	border-color: grey;
}

#signinForm input::placeholder{
	color: grey;
}

#signinForm input[type=submit] {
	margin-right: 5em;
	margin-bottom: 1em;
	float: right;
	font-size:1em;
}

#signinForm input[type=submit]:hover{
	background-color: #B5B5B5;
	border-color: grey;
}

#signinForm .error{
	color: firebrick;
	float:right;
}

#loginForm legend{
	font-style: italic;
	font-weight: bolder;
	font-size: 1.2em;
	padding: 0 0.5em;
}

#loginForm fieldset{
	border-radius: 1em;
	padding: 1em;
	border: 1px solid #D9D7D7;
}

#loginForm label{
	width: 20%;
	display: inline-block;
}

#loginForm input{
	border-radius: 0.4em;
	padding: 0.4em;
	border: 2px solid #b8b3b2;
	text-align: left;
}

#loginForm input[type=text]{
	margin-bottom: 1em;
}

#loginForm input[type=password]{
	margin-bottom: 1em;
}

#loginForm input[type=text]:hover{
	border-color: grey;
}

#loginForm input[type=password]:hover{
	border-color: grey;
}

#loginForm input::placeholder{
	color: grey;
}

#loginForm input[type=submit] {
	margin-right: 5em;
	float: right;
	font-size: 1em;
}

#loginForm input[type=submit]:hover{
	background-color: #B5B5B5;
	border-color: grey;
}
